body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.nusmaids-navbar-logo {
    float: left;
    margin: 5px;
    height: 50px;
}

.nusmaids-navbar-item {
    margin: 5px 5px;
}

.nusmaids-brand {
    font-size: 50px;
}

.nusmaids-selection-box {
    border: 0px solid black;
    text-align: center;
}

.nusmaids-selection-link {
    margin: 5px;
    width: 50%;
    font-size: 16px;
}

.nusmaids-selection-link:hover {
    color: red;
}

.nusmaids-form-item-wrapper {
    margin: 20px auto;
}

.nusmaids-form-title {
    font-size:10px;
    color: #959595;
    text-transform: uppercase;
}

.nusmaids-form-button {
    float:right;
    margin-top: 20px;
}

#form-wrapper {
    border: 0px solid black;
}

p.form-error-message {
    font-size: 12px;
    color: #FF0000;
}
